.nav, .navWhite {
    display: flex;
    gap: 4rem;
}

.nav a, .navWhite a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
}

.navWhite a {
    color: black;
}


@media (max-width: 1024px) {
    .nav, .navWhite {
        display: none;
    }
}