.article {
    border: 0.075rem solid #E64040;
    border-radius: 1.5rem;
    position: relative;
    min-width: 27rem;
}

.content {
    padding: 4rem 2rem 2rem 2rem;
}

.article img {
    position: absolute;
    top: -10%;
    left: -5%;
}

.article p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 400;
    line-height: 3rem;
    color: #333931;
    margin-bottom: 2rem;
    font-family: "Sora", sans-serif;
}

.author p{
    font-weight: 700;
    font-family: "Epilogue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #0E2A46;
}

.author .role {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #704FE6;
     font-family: "Sora", sans-serif;
}


@media (max-width: 1024px) {
    .article {
        min-width: auto;
    }
}