.carousel {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: all 0.4s ease;
}

.slide {
    position: relative;
    width: 90px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    transition: all 0.4s ease;
}

.slide.active {
    width: 600px;
    height: 500px;
}

.slide.active .video {
    filter: blur(0);
}

.label {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    transition: all 0.4s ease;
    z-index: 10;
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slide.active .label {
    display: none;
}

.info {
    text-align: center;
}

.info h3 {
    font-size: 2rem;
    font-weight: bold;
}

.info p {
    margin-top: .5rem;
    font-size: 1.5rem;
    color: #555;
}

.dots {
    display: flex;
    gap: 8px;
    margin-top: 0.5rem;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover {
    background-color: #999;
}

.activeDot {
    background-color: #6a5acd;
    width: 20px;
    border-radius: 40%;
}

@media (max-width: 1024px) {
    .slides {
        flex-direction: column;
    }

    .slide {
        width: 80%;
        height: 60px;
    }

    .label {
        transform: rotate(270deg);
    }

    .slide.active {
        width: 100%;
        height: 500px;
    }
}