@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');


html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.active {
  border-right: 1px solid #2C66B8;
  box-shadow: 0px 2.99px 32.93px 0px #00000012;
}

.active h3 {
  color: #2C66B8 !important; 
}
