.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .container {
        padding: 4rem 0rem;
        flex-direction: column;
    }
}