.mainSection {
    padding-top: 4rem;
}

.container {
    margin-top: 10rem;
    background-image: url('/resources/ourUs/main/9.png');
    background-size: contain;
    background-position: top center;
    height: 800px;
    background-repeat: no-repeat;
    position: relative;
}

.container img:nth-child(1) {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.container img:last-child {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: auto;
    z-index: 2;
}

@media (max-width: 1024px) {

    .container {
        height: 90vh;
        background-size: cover;
    }

    .container img:nth-child(1) {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: auto;
        object-fit: cover;
        z-index: 1;
    }

    .container img:last-child {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: auto;
        object-fit: cover;
        z-index: 2;
    }
}

@media (max-width: 520px) {
        .container img:nth-child(1) {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: auto;
        object-fit: cover;
        z-index: 1;
    }

    .container img:last-child {
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: auto;
        object-fit: cover;
        z-index: 2;
    }
}