.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
}

.close {
    display: flex;
    justify-content: flex-end;
    padding: 4rem;
    cursor: pointer;
}

.close p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.nav {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav a {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    text-decoration: none;
    gap: 2rem;
}

.nav a p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0F0F0F;
}

.nav button {
    padding: 2rem 3rem;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

.containerLanguages {
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    display: flex;
    gap: 2rem;
}