.footer {
    background-color: #0f0f0f;
    text-align: center;
}

.contactInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    border-bottom: 1.5px solid #ffffff59;
}

.contactItem .contactInner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    gap: 2rem;
}

.contactItem {
    border-right: 1.5px solid #ffffff59;
}

.contactItem:last-child {
    border-right: none;
}

.contactItem .contactInner .contactText {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contactItem .contactInner .contactText p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #9747FF;
}

.contactItem .contactInner .contactText p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.footerMain {
    width: 85%;
    margin: 5rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footerMain .containerSocial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerMain .containerSocial div {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}


.footerMain .containerSocial p {
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-top: 1rem;
    text-align: left;
    line-height: 2.4rem;
    opacity: 0.8;
}


.containerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
    width: 100%;
}


.containerLinks p {
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 2.4rem;
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4rem;
}

.links .navLinks,
.links div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.links .navLinks a,
.links div a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #FFFFFF;
    text-transform: capitalize;
    text-align: left;
    line-height: 2.4rem;
    font-weight: 400;
    opacity: 0.8;
    cursor: pointer;
}

.links .navLinks a::before,
.links div a::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 10px;
    background-image: url('/resources/global/footer/bullet.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1rem;
}


.containerSubscribe {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerSubscribe p {
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
    text-align: left;
    line-height: 2.4rem;
    font-weight: 600;
}

.containerSubscribe .formSubscribe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerSubscribe .formSubscribe input {
    padding: 2.5rem 6rem;
    border: none;
    font-size: 1.4rem;
    text-align: left;
}

.containerSubscribe .formSubscribe button {
    padding: 2.5rem 5rem;
    border: none;
    background-color: #974DF0;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    width: 180px;
    font-weight: 500;
    border-radius: .5rem;
}

.containerCopyright {
    background-color: #222222;
    padding: 2rem 0;
    margin-top: 5rem;
}

.containerCopyright p {
    font-size: 1.3rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.4rem;
    font-weight: 400;
    opacity: 0.8;
}



@media (max-width: 1024px) {
    .contactInfo {
        grid-template-columns: 1fr;
        border-bottom: none;
        padding: 0rem 1rem;
    }

    .contactItem {
        border-right: none;
    }

    .contactItem .contactInner {
        padding: 2rem;
        justify-content: flex-start;
        border-bottom: 1px solid #ffffff;
    }

}

@media (max-width: 520px) {

    .contactItem .contactInner .contactText p:nth-child(1) {
        font-size: 1.2rem;
    }

    .contactItem .contactInner .contactText p:nth-child(2) {
        font-size: 1.4rem;
    }

    .containerSubscribe {
        align-items: flex-start;
    }

    .containerSubscribe .formSubscribe {
        width: 100%;
    }

    .containerSubscribe .formSubscribe button {
        width: 100%;
    }
}