.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem 0rem;
}

.container h1 {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 100%;
    color: #252b42;
    text-align: center;
    margin-bottom: 3rem;
}

.container p {
    font-size: 2rem;
    font-weight: 400;
    color: #848383;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}