.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card h3 {
    font-size: 3rem;
    color: #0E2A46;
    font-weight: 700;
    line-height: 3.9rem;
}

.card p {
    font-size: 1.6rem;
    color: #0E2A46;
    font-weight: 400;
    line-height: 2.1rem;
    text-align: center;
}

.image {
    object-fit: contain;
}