.mainSection { 
    width: 90%;
    padding: 50px 0;
    margin: 0 auto;
}

.mainSection h1 {
    text-align: center;
    font-size: 3.3rem;
    color: #252B42;
    font-weight: 700;
}

.mainSection p {
    text-align: center;
    font-size: 2rem;
    color: #848383;
    margin-top: 20px;
    font-weight: 400;
    line-height: 2.8rem;
}